<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group16.seeyaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".navigation.DemoPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".communication.CommunicationService"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".login.TestLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".register.TestRegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.categories.TestCategoriesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".main.MainActivity" />
        <activity
            android:name=".activity.details.TestNewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.list.TestListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".navigation.TestCreatePage"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!--<activity-->
            <!--android:name=".navigation.DemoPage"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar" />-->
         <activity android:name=".activity.list.mainlist.TestMainListActivity"></activity>
        <activity android:name=".activity.list.TestHeadlineListActivity"></activity>
    </application>

</manifest>
